
.MuiSelect-icon { 
	color: white; 
}

/* MuiBox 기본 여백 설정 */
div[class*="MuiBox-root-"] {
	padding: 20px 20px 60px 20px !important;
}

/* Galaxy Fold용 MuiBox 기본 여백 설정 */
@media only screen and (max-width: 320px) {
	div[class*="MuiBox-root-"] {
		padding: 5px 5px 60px 5px !important;
	}
}

.MuiInputBase-input {
	padding: 0;
}

/* Select 인풋에서 언더라인 제거 */
.MuiInput-underline::before, .MuiInput-underline::after {
	display: none;
}

.container-border {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px;
}

.selected-period {
	width: 1.5rem;
	height: 1rem;
	background-color: #DBE8FF;
	border-radius: 10%;
	text-align: center;
}

.default-period {
	width: 1.5rem;
	height: 1rem;
	background-color: #ffffff;
	border-radius: 10%;
	text-align: center;
}

.wallet-grid-container {
	/* padding: 10px; */
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 20px;
	grid-row-gap: 10px;
	font-size: 0.8em;
}

.wallet-grid {
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
}

.wallet-grid p {
	margin: 0;
}

.wallet-grid > p:first-child {
	color: #828282;
}

.grid-row-offset {
	display: grid;
	/* grid-row-gap: 20px; */
}

.grid-row-offset > div:nth-child(odd) {
	margin-bottom: -0.5em;
}

.wallet-coin-item:not(:last-child)::after {
	content: '';
    width: 70vw;
    height: 0.5px;
	left: 0;
	margin: 25px auto;
    display: block;
	background-color: #E0E0E0;
}

.rise {
	color: #E64743;
}

.drop {
	color: #615EFF;
}