
.MuiSelect-icon { 
	color: white; 
}

.selected-period {
	width: 1.5rem;
	height: 1rem;
	background-color: #DBE8FF;
	border-radius: 10%;
	text-align: center;
}

.default-period {
	width: 1.5rem;
	height: 1rem;
	background-color: #ffffff;
	border-radius: 10%;
	text-align: center;
}